* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
a {
  text-decoration: none;
}
.v269_324 {
  width: 100%;
  height: 1793px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v273_427 {
  width: 800px;
  height: 68.9%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 276px;
  border: 1px solid rgba(217, 217, 217, 1);
  overflow: hidden;
}
.v269_325 {
  width: 100%;
  height: 82px;
  background: url("../images/v269_325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v269_326 {
  width: 100%;
  height: 82px;
  background: rgba(1, 191, 172, 1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v269_327 {
  width: 87px;
  height: 56px;
  background: url("../images/v269_327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 51px;
  overflow: hidden;
}
.v269_328 {
  width: 80%;
  height: 50%;
  opacity: 1;
  position: absolute;
  top: 5px;
  /* left: 23px; */
  overflow: hidden;
}
.v269_330 {
  width: 100%;
  height: 34px;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 7px;
}
.v269_331 {
  width: 87px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v269_332 {
  width: 393px;
  /* height: 20px; */
  background: url("../images/v269_332.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 740px;
  overflow: hidden;
  cursor: pointer;
}
.v269_333 {
  width: 40px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v269_333:hover {
  color: white;
}
.v269_334 {
  width: 61px;
  color: rgba(19, 19, 19, 1);
  position: absolute;
  top: 0px;
  left: 60px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v269_334:hover {
  color: white;
}
.v269_335 {
  width: 62px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 141px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v269_335:hover {
  color: white;
}
.v269_336 {
  width: 58px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 223px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v269_336:hover {
  color: white;
}
.v269_337 {
  width: 92px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 301px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v269_337:hover {
  color: white;
}
.v269_339 {
  width: 100%;
  height: 80px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 0px;
  overflow: hidden;
}
.v269_340 {
  width: 122px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 96px;
  left: 51px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 28px;
  opacity: 1;
  text-align: left;
  font-weight: bold;
}
.v268_371 {
  width: 608px;
  height: 122px;
  background: url("../images/v268_371.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 357px;
  overflow: hidden;
}
.v268_372 {
  width: 136px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v268_373 {
  width: 608px;
  padding: 20px;
  font-size: 20px;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  border: 1.5px solid rgba(208, 208, 208, 1);
  overflow: hidden;
  cursor: pointer;
}
.v268_374 {
  width: 608px;
  height: 122px;
  background: url("../images/v268_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 357px;
  overflow: hidden;
}
.v268_374_email {
  width: 608px;
  height: 122px;
  background: url("../images/v268_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 662px;
  left: 357px;
  overflow: hidden;
}
.v268_374_password {
  width: 608px;
  height: 122px;
  background: url("../images/v268_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 802px;
  left: 357px;
  overflow: hidden;
}
.v268_374_confirm_password {
  width: 608px;
  height: 122px;
  background: url("../images/v268_374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 952px;
  left: 357px;
  overflow: hidden;
}
.v268_375 {
  width: 127px;
  color: rgba(0, 0, 0, 0.800000011920929);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v268_376 {
  width: 608px;
  padding: 20px;
  font-size: 20px;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  border: 1.5px solid rgba(208, 208, 208, 1);
  overflow: hidden;
  cursor: pointer;
}
.v268_377 {
  width: 800px;
  height: 70px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 198px;
  left: 275.5px;
  overflow: hidden;
}
.v268_378 {
  width: 401px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 208px;
  left: 284px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
  margin: 8px 0 0 15px;
}
.v269_420 {
  width: 25px;
  height: 25px;
  opacity: 1;
  position: absolute;
  top: 1110px;
  left: 357px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v269_421 {
  width: 194px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1110px;
  left: 400px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v269_422 {
  width: 215px;
  height: 56px;
  background: rgba(0, 190, 171, 1);
  padding: 10px 10px;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 1137px;
  left: 330px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v269_423 {
  width: 145px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 10px;
  left: 20px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v269_424 {
  width: 24px;
  height: 24px;
  background: rgba(0, 53, 48, 1);
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 175px;
  overflow: hidden;
}
.v269_425 {
  font-family: monospace;
  width: 11px;
  height: 20px;
  color: white;
  opacity: 1;
  position: absolute;
  top: -2px;
  left: 6px;
  font-weight: bolder;
  font-size: 22px;
}
.v273_429 {
  width: 580px;
  color: url("../images/v273_429.png");
  position: absolute;
  top: 1250px;
  left: 365px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v273_429_skyblue {
  color: rgba(0, 190, 171, 1);
  text-decoration: none;
}
.v273_430 {
  width: 476px;
  color: url("../images/v273_430.png");
  position: absolute;
  top: 20px;
  left: 95px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v273_432 {
  width: 800px;
  height: 238px;
  background: rgba(0, 190, 171, 0.3799999952316284);
  opacity: 1;
  position: absolute;
  top: 1457px;
  left: 275.5px;
  overflow: hidden;
}
.v273_433 {
  width: 366px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1482px;
  left: 368px;
  font-family: Open Sans;
  font-weight: bolder;
  font-size: 22px;
  opacity: 1;
  text-align: justified;
}
.v273_434 {
  width: 420px;
  height: 38px;
  background: url("../images/v273_434.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1556px;
  left: 368px;
  overflow: hidden;
}
.v273_435 {
  width: 198px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: justified;
}
.v273_436 {
  width: 218px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 2px;
  left: 180px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: justified;
}
.v273_437 {
  width: 401px;
  height: 60px;
  background: url("../images/v273_437.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1610px;
  left: 360px;
  overflow: hidden;
}
.v273_438 {
  width: 279px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 20px;
  left: 132px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: justified;
}
.v273_439 {
  width: 114px;
  height: 60px;
  background: url("../images/v273_439.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 10px 0px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v273_440 {
  width: 40px;
  height: 35px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  overflow: hidden;
}
.v273_441 {
  width: 33px;
  height: 26px;
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 5px;
  font-size: 30px;
}
.v273_442 {
  width: 64px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 12px;
  left: 50px;
  font-family: Open Sans;
  font-weight: SemiBold;
  font-size: 22px;
  opacity: 1;
  text-align: justified;
}
.v276_399 {
  width: 49px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 30.2px;
  left: 1171px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
}
.v276_399:hover {
  color: white;
}

.v278_417 {
  cursor: pointer;
  width: 51px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 30px;
  left: 1240px;
  font-family: Wellfleet;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v278_417:hover {
  color: white;
}
.login-container {
  width: 800px;
  height: 70px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  position: absolute;
  top: 1361.5px;
  left: 275.5px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 500px;
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 350px);
  margin-top: -4px;
  margin-bottom: 10px;
  padding: 50px 0 50px 50px;
  background: rgb(15, 71, 62);
  color: white;
}
.title {
  font-weight: 700;
}
.socials {
  margin-top: 23px;
}
.fa {
  padding: 5px;
  font-size: 14px;
  width: 25px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #d62976;
  color: white;
}
.fa-linkedin {
  background: blue;
  color: white;
}
